{% extends 'base.html' %}
<head>
    {%block title%}Wishlist - AA shops {%endblock%}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
{%block content%}{% load static %}
    <div class="container mt-4">
        <h1>Your Wishlist</h1>
        <ul class="list-group">
            {% for item in wishlist_items %}
                <li class="list-group-item">
                    <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" width="200">
                    {{ item.product.name }}
                    <a href="{% url 'add_to_cart' item.product.id %}" class="btn btn-primary btn-sm float-right">Add to Cart</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {%endblock%}
